.computer {
    height: 100%;
    width: 100%;
    background-color: var(--dark-color);
    border: 3px solid var(--main-color);
    overflow: hidden auto;
    padding: 1rem;
    scrollbar-color: var(--secondary-color) transparent;
    position: relative;

    & * {
        color: var(--secondary-color);
    }
}