.list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    & ul {
        min-height: 300px;
        overflow: hidden auto;
        scrollbar-color: var(--light-color) transparent;
        scrollbar-width: thin;
    }
}