#root {
  min-height: 100svh;
  background-color: var(--darker-color);
  display: flex;
  position: relative;

  @media screen and (max-width: 768px) {
    overflow: hidden;
  }
}

.search {
  width: 30svw;
  background-color: var(--dark-color);
  padding: 1rem 2rem;
  border-right: 2px solid var(--main-color);
  box-shadow: 0 0 50px var(--main-color);

  @media screen and (max-width: 768px) {
    width: 100svw;
    border: none;
  }
}

.results {
  width: 70svw;
  height: 100svh;
  padding: 70px;
  background-color: var(--light-color);

  @media screen and (max-width: 768px) {
    width: 100svw;
    padding: 30px;
    position: absolute;
    left: 100%;
  }
}

.show-details {
  animation: slidein 0.5s ease-in forwards;
}

@keyframes slidein {
  to {left: 0}
}