@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --darker-color: #191a19;
  --dark-color: #232b21;
  --main-color: #1e5128;
  --main-color--light: #4e9f3d;
  --secondary-color: #3bfd91;
  --light-color: #d8e9a8;

  color: var(--light-color);
  font-family: "IBM Plex Mono", monospace, system-ui, sans-serif;
}

button, a {
  cursor: pointer;
}

ul {
  list-style-type: none;
}